<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% if page.header %} {% include header_{{page.header}}.html %} {% else %} {%
    include header.html %} {% endif %}

    <div class="page-content">
      <div class="wrapper">{{ content }}</div>
    </div>

    {% include footer.html %}

    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
